<!doctype html>

<html>
    <head>
        {% if title %}
        <title>{{ title }} - ColoGen</title>
        {% else %}
        <title>Welcome to ColoGen</title>
        {% endif %}
         <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
         <!--title and css-->

        <!-- The website JavaScript file -->
        <script src="{{url_for('static', filename='script.js')}}"></script>

    </head>
    <link
    rel="icon"
    href="{{ url_for('static', filename='Icon.ico') }}"
    type="image/x-icon"
  />
    <body onload="disStar()" >
        <div class="base">
            <div class="text" style="padding: 1%;">
            ColoGen
            
                <a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='icons/House.png') }}" alt="" class="home" style="width: 3%; "></a>
                {% if current_user.is_anonymous %}
                <a href="{{ url_for('login') }}"><img src="{{ url_for('static', filename='icons/Login.png') }}" alt="" class="home" style="width: 3%;"></a>
                {% else %}
                <a href="{{ url_for('user', username=current_user.username) }}"><img src="{{ url_for('static', filename='icons/Profile.png') }}" alt="" class="home" style="width: 3%;"></a>
                <a href="{{ url_for('logout') }}"><img src="{{ url_for('static', filename='icons/Exit.png') }}" alt="" class="home" style="width: 3%;"></a>
            <!-- The header tab and its buttons/labels-->
            </div>


            {% endif %}
        </div>    
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %} 
        
    </body>
</html>