{% extends "base.html" %}

{% block content %}
    <h1 class="base">Edit Profile</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p class="hexa">
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}<br>
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <!--Labels with text boxes below the,-->
        <p class="hexa">
            {{ form.about_me.label }}<br>
            {{ form.about_me(cols=50, rows=4) }}<br>
            {% for error in form.about_me.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p class="hexa">
            {{ form.profile.label }}<br>
            {{ form.profile(cols=50, rows=4) }}<br>
            {% for error in form.profile.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
                <p class="hexa">
            Star Palette Hexcodes eg ('e0e0e0,a1a1a1, ...')<br>
            {{ form.starP(cols=50, rows=4) }}<br>
            {% for error in form.profile.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p class="hexa">{{ form.submit() }}</p>
    </form>
{% endblock %}