<!doctype html>
<html>
    <head>
        {% if title %}
        <title>{{ title }} - ColoGen</title>
        {% else %}
        <title>Welcome to ColoGen</title>
        {% endif %}
         <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

        <!-- The website JavaScript file -->
        <script src="{{url_for('static', filename='script.js')}}"></script>

    </head>
    <link
    rel="icon"
    href=""
    type="image/x-icon"
  />
    <body>
        {% extends "base.html" %}

        {% block content %}
            <h1>Hi, {{ current_user.username }}!</h1>
            
            <input type="range" min="1" max="10" value="5" class="slider"
                 id="ColorRg" title="Number of Colors"
                 oninput="Getrange()"> 
            <p1 id="ColorOP">f</p1>
            <script>
            function Getrange(){
                document.getElementById("ColorOP").innerHTML = document.getElementById("ColorRg").value
                console.log(document.getElementById("ColorRg").value)
                }
            </script>



            <div class="colorgen" style="text-align: center; width: 100%;top: 45vh;" >

                <button id="colorgen" style="background-color: rgb(32, 34, 36); width: 10vw; height:10vw;border: none;outline: none;" onclick="changecol()">
                    <p1 id="hexa" style="background-blend-mode:soft-light; text-shadow: 0 0 4px #000000, 0 0 5px #000000">HEX</p1>
                    <script>
                        function changecol(){
                            let randHex = randcolHex()

                            document.getElementById("colorgen").style.backgroundColor = randHex
                            document.getElementById("hexa").innerHTML = randHex
                            document.getElementById("hexa").style.color = '#ffffff'
                            console.log(randRGB)
                        }
                        function componentToHex(c) {
                            var hex = c.toString(16);
                            return hex.length == 1 ? "0" + hex : hex;
                        }
                        function rgbToHex(r, g, b) {
                            return "#" + componentToHex(r) + componentToHex(g) + componentToHex(b);
                        }

                        function randcolHex(){
                            var o = Math.round, r = Math.random, s = 255;
                            return(rgbToHex(o(r()*s),o(r()*s),o(r()*s)))
                        }

                    </script>
                </button>
                
                
                
            </div>
            
        {% endblock %}
    </body>
</html>
