<!doctype html>
<html>
    <head>
        {% if title %}
        <title>{{ title }} - ColoGen</title>
        {% else %}
        <title>Welcome to ColoGen</title>
        {% endif %}
         <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

        <!-- The website JavaScript file -->
        <script src="{{url_for('static', filename='script.js')}}"></script>

    </head>
    <link
    rel="icon"
    href=""
    type="image/x-icon"
  />
    <body>
        {% extends "base.html" %}

        {% block content %}
            <h1>Hi, {{ current_user.username }}!</h1>
            
            <input type="range" min="1" max="10" value="5" class="slider"
                 id="ColorRg" title="Number of Colors"
                 oninput="Getrange()"> 
            <p1 id="ColorOP">f</p1>
            <script>
            function Getrange(){
                document.getElementById("ColorOP").innerHTML = document.getElementById("ColorRg").value
                }
            </script>



            <div class="colorgen">
                <button id="colorgen" style="background-color: rgb(32, 34, 36); width: 10vw; height:10vw;" onclick="changecol()">
                    <script>
                            function changecol(){
                                randcolor = randcol()
                                document.getElementById("colorgen").style.backgroundColor = randcolor
                            }
                            function randcol(){
                                var o = Math.round, r = Math.random, s = 255;
                                return 'rgba(' + o(r()*s) + ',' + o(r()*s) + ',' + o(r()*s) + ',' + r().toFixed(1) + ')';
                            }
                    </script>
              </button>  
            </div>
        {% endblock %}
    </body>
</html>
