{% extends "base.html" %}

{% block content %}
        <table>
        <tr valign="top">
            <td><img id="imagep" class="imagep" src="{{ user.profile }}" onload="checksize()" width="150" height="150">
                <script>
                    function checksize(){
                        let imagef = document.getElementById("imagep").style.width
                        if (imagef > 150)
                        {
                            document.getElementById("imagep").style.width = 150
                        }
                    }
                    <!-- Makes the profile picture the correct size-->
                </script></td>
            <td class="userinf">
                    <h1>User: {{ user.username }}</h1>
                    {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
                    {% if user.last_seen %}<p>Last seen on: {{ user.last_seen }}</p>{% endif %}
                    {% if user == current_user %}
                    <p><a href="{{ url_for('edit_profile') }}">Edit your profile</a></p>
                    {% endif %}
                </td>
                <!-- Get information from lask about username, about me, last visited etc-->
                
            <td>
                <div onload="disStar()" class="starp">
                    <p style="text-align: center; font-size:40px;margin: 0px;padding:3%">⭐</p>
                    <script>
                        function disStar(){
                            var mainStr = "{{ user.starP }}"
                            console.log(mainStr)
                            var color0 = '#' + mainStr.substr(0, 6)
                            var color1 = '#' + mainStr.substr(7, 6)
                            var color2 = '#' + mainStr.substr(14, 6)
                            var color3 = '#' + mainStr.substr(21, 6)
                            var color4 = '#' + mainStr.substr(28, 6)
                            var color5 = '#' + mainStr.substr(35, 6)
                            var color6 = '#' + mainStr.substr(42, 6)                            
                            var color7 = '#' + mainStr.substr(49, 6)
                            var color8 = '#' + mainStr.substr(56, 6)
                                
                            // Colours taken from inputted string from the edit profile menu
                            var amountS = (mainStr.split(",").length - 1) + 1
                            var amountP = 9 - amountS 
                            for(let e = 0; e < amountP; e++){


                                var id = 'Star' + e

                                document.getElementById(id).style.display = "none"
                            }
                            // For each box in the star palette menu Make it invisible/visible when the amount is correct, this is gotten from the number of commas inside the inputted string

                            console.log(color0)
                            console.log(color1)
                            console.log(color3)
                            console.log(color4)
                            console.log(color5)
                            console.log(color6)
                            console.log(color7)
                            console.log(color8)
                            //checks
                            document.getElementById("Star0").style.backgroundColor = color8
                            document.getElementById("Star1").style.backgroundColor = color7
                            document.getElementById("Star2").style.backgroundColor = color6
                            document.getElementById("Star3").style.backgroundColor = color5
                            document.getElementById("Star4").style.backgroundColor = color4
                            document.getElementById("Star5").style.backgroundColor = color3
                            document.getElementById("Star6").style.backgroundColor = color2
                            document.getElementById("Star7").style.backgroundColor = color1
                            document.getElementById("Star8").style.backgroundColor = color0
                            //changes the colour


                        }
                    </script>

                    <button id="Star8" class="star" style="height: 6vw; width: 6vw; background-color: white;">
                    </button>
                    <button id="Star7" class="star" style="height: 6vw; width: 6vw; background-color: white;">
                    </button>
                    <button id="Star6" class="star" style="height: 6vw; width: 6vw; background-color: white;">
                    </button>
                    <button id="Star5" class="star" style="height: 6vw; width: 6vw; background-color: white;">
                    </button>
                    <button id="Star4" class="star" style="height: 6vw; width: 6vw; background-color: white;">
                    </button>
                    <button id="Star3" class="star" style="height: 6vw; width: 6vw; background-color: white;">
                    </button>
                    <button id="Star2" class="star" style="height: 6vw; width: 6vw; background-color: white;">
                    </button>
                    <button id="Star1" class="star" style="height: 6vw; width: 6vw; background-color: white;">
                    </button>
                    <button id="Star0" class="star" style="height: 6vw; width: 6vw; background-color: white;">
                    </button>

                    <!--individual buttons-->
                    
                </div>
            </td>
        </tr>
        
    </table>
    <hr>
    
    {% for post in posts %}
        {% include '_post.html' %}
    {% endfor %}
{% endblock %}

<!--add the posts-->