#wcb_p {
    right: 100vw;
}
@font-face {
  font-family:cfont;
  src: url(Fonts/Sniglet-Regular.ttf);
}

.base {
    font-family:cfont;
    font-weight: bolder;
    font-size: 200%;
    

}

.login{
    text-align: center;
}

.box{
    height: 1px;
}
.buttonc{
    border-radius: 10%;
}

.colorgen {
    
    height: 43%;
    width: 50%;
    position: fixed;
    z-index: -9;
    top: 40vw;
    overflow-x: hidden;
    padding-top: 20px;
    overflow-x: hidden;
    transition: 300ms ease;
    
}
.colorgen:hover{
    
    transition-duration: 300ms;
    filter:opacity(80%)


}

.slider {
  -webkit-appearance: none;
  width: 20%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  border-radius: 10px;  
  -webkit-transition: .2s;
  transition: opacity .2s;
  
}

.slider:hover {
  opacity: 1;
}


.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #cd44e9;
  border-radius: 10px;  
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 5px;  
  background: #86d1b6;
  cursor: pointer;
}
.hexa{
    font-family: cfont;
    font-weight: bolder;
}

.home{
    transition: 400ms;
}
.home:hover{
    transition: 400ms;
        filter: hue-rotate(220deg);
}

.userinf{
    font-family:cfont;
    padding-top: 2%;
}

.imagep{
    clip-path: circle(50%);
    margin-top: 5vh;
    object-fit: cover;
    margin: 3vw;
        padding-top: 2%;
}

.switches{
    text-align: center;
    position: relative;
    top:17vh
}

.sbase{
    font-family: cfont;
    border-radius: 10%;
    border-color: #d3d3d3;
    border-style: hidden;
    margin-top: 4%;
        
}

.colpic{
    height:100%;
    width: 105%;
    right: 0.4vh;
    position: relative;
    top: -6vh;
    border-radius: 10%;
    border-color: #964747;

}

.starp{
    position:relative;
    text-align: left;
    left: 10%;
    border-radius: 50%;
    height: 10%;
}

.star{
    text-align: left;
    border-radius: 25%;
}

body{
    background-image: url(Icons/Bg.png);
    background-size: cover;

}