#wcb_p {
    right: 100vw;
}
@font-face {
  font-family:cfont;
  src: url(Fonts/Comic\ Sans\ MS\ 400.ttf);
}

.base {
    font-family:cfont;
    font-weight: bolder;

}

.colorgen {
    
    height: 43%;
    width: 50%;
    position: fixed;
    z-index: -9;
    top: 40vw;
    overflow-x: hidden;
    padding-top: 20px;
    overflow-x: hidden;


}

.hexa{
    font-family: cfont;
    font-weight: bolder;
}

.home:hover{
    transition-duration: 400ms;
        filter: hue-rotate(180deg);
}